/* ---------------------media query-------------- */
/* extra small screen <576 */
@media screen and (max-width: 576px) {
  .nav-link {
    text-align: center;
  }
  /* border of email textbox */
  #newsletter1 {
    width: 120px;
  }
  /* subscription button */
  .btnSub {
    margin-top: 10px;
  }
  /* social link */
  .socialLink {
    margin-left: 180px;
    margin-right: 300px;
    margin-bottom: 16px;
  }
  /* copyright text alignment */
  .copyrightText {
    margin-left: 180px;
    text-align: center;
  }
}

/* small screen 576 */
@media screen and (min-width: 576px) {
  .nav-link {
    text-align: center;
  }
  /* border of email textbox */
  #newsletter1 {
    width: 150px;
  }
  /* subscription button */
  .btnSub {
    margin-top: 10px;
  }
}

/* medium screen 768 */
@media screen and (min-width: 768px) {
  /* subscription block */
  .subBlock {
    display: flex;
  }
  /* border of email textbox */
  #newsletter1 {
    width: 220px;
  }
  /* subscription button */
  .btnSub {
    margin-top: 0px;
  }
  /* tree map chart */
  .treeMap {
    height: 400px;
    width: auto;
  }
}

/* large screen 992 */
@media screen and (min-width: 992px) {
  /* tree map chart */
  .treeMap {
    height: 600px;
    width: auto;
  }
}

/* large screen 992 */
@media screen and (min-width: 1200px) {
  /* tree map chart */
  .treeMap {
    height: 730px;
    width: auto;
  }
}

/* -------------------navbar--------------------- */
/* size and postion of logo */
#logo {
  width: 120px;
  margin-left: 15px;
}

.nav-link {
  color: #f1f5f6 !important;
  font-family: playfair;
  font-size: larger;
}

/* nav-link hover effect */
a:hover {
  color: #e35640 !important;
}

/* target nav-link alignment */
.navbar-nav .nav-item {
  padding-left: 30px;
  padding-right: 30px;
}

/* -------------------home page------------------ */
/* home background image */
#home-background {
  background: linear-gradient(
      to right,
      rgba(49, 57, 70, 0.9),
      rgba(49, 57, 70, 0.9)
    ),
    url("images/home-background.jpeg");
  background-size: cover;
  min-height: 100vh;
  width: auto;
  overflow: hidden;
  margin-top: 58px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inner-text {
  animation-name: slide-in;
  opacity: 0;
  animation-duration: 6s;
  transform: translate3d(-100%, 0, 0);
  animation-timing-function: ease;
  color: #e35640;
  font-weight: 700;
  display: inline-flex;
  align-items: baseline;
  text-align: left;
  position: absolute;
  left: 50%;
  font-size: 0.9em;
  padding-top: 3px;
  padding-left: 3px;
}

.inner-span {
  /* prevent line break */
  white-space: nowrap;
}

.inner-span::after {
  display: block;
  animation-duration: 6s;
  animation-name: underline;
  animation-timing-function: ease;
  content: "";
  width: 0;
  background-color: #199ca5;
  height: 4px;
}

.fixed-text {
  z-index: 1;
  background-color: inherit;
  text-align: right;
  white-space: nowrap;
  right: 50%;
  position: absolute;
  background-color: rgba(49, 57, 70, 0.9);
}

.overall {
  font-weight: 400;
  width: 100%;
  transition: flex 0.3s ease-out;
  flex-direction: row;
  font-size: 2.85rem;
  line-height: 1.2;
  position: relative;
  height: 100px;
  display: flex;
  width: 900px;
  position: relative;
}

.stock-search {
  padding: 8px 16px;
  border-radius: 5px;
  border: none;
  min-width: 350px;
}

.searchContainer button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  transition: all 0.2s;
}

.searchContainer button:hover {
  color: #e35640;
}

@keyframes underline {
  0% {
    width: 0;
  }
  25% {
    width: 0;
  }
  90% {
    width: 100%;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}

@keyframes slide-in {
  0% {
    transform: translate3d(-100%, 0, 0.5);
    opacity: 0;
  }
  25% {
    transform: translateZ(0);
    opacity: 1;
  }
  90% {
    transform: translateZ(0);
    opacity: 1;
  }
  100% {
    transform: translate3d(50%, 0, 0);
    opacity: 0;
  }
}

/* align search bar center */
.searchContainer {
  justify-content: center;
}

/* ------------------footer---------------------- */
/* alignment of social link */
.fa-brands {
  padding-left: 30px;
  padding-right: 30px;
}

/* social link color */
.footer-social-link {
  color: #f1f5f6;
}

.foot {
  padding-left: 0px;
}

/* footer link */
.footLink {
  text-decoration: none;
  color: #929292;
}

.footText {
  color: #929292;
}

/* subscribe button */
.btn-primary {
  color: #f1f5f6;
  background-color: #e35640;
  border-color: #e35640;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #f1f5f6;
  background-color: #313946;
  border-color: #313946;
}

/* ---------------stock-analysis page------------------ */
.sidebar {
  height: 100vh;
  background-color: #929292;
}

.min-h {
  min-height: 100vh;
}

/* buttons for different charts  */
.stock-list {
  display: flex;
  flex-direction: column;
}

/* change sidebar color text */
#stockName,
#stockDesc,
#stockTicker {
  color: #f1f5f6 !important;
}

/* hide all charts */
.hidden {
  display: none;
}

.arrow_box {
  padding: 10px;
  color: black;
}

.arrow_box h5 {
  font-weight: bold;
}

.selected-btn {
  background-color: black;
  color: #f1f5f6;
}

/* ---------------market map page------------------ */
