/* ---------------------media query-------------- */
/* extra small screen <576 */
@media screen and (max-width: 576px) {
  .nav-link {
    text-align: center;
  }
  /* border of email textbox */
  #newsletter1 {
    width: 120px;
  }
  /* subscription button */
  .btnSub {
    margin-top: 10px;
  }
  /* social link */
  .socialLink{
    margin-left: 180px;
    margin-right: 300px;
    margin-bottom: 16px;
  }
  /* copyright text alignment */
  .copyrightText{
      margin-left: 180px;
      text-align: center;
  }
}

/* small screen 576 */
@media screen and (min-width: 576px) {
  .nav-link {
    text-align: center;
  }
  /* border of email textbox */
  #newsletter1 {
    width: 150px;
  }
  /* subscription button */
  .btnSub {
    margin-top: 10px;
  }
}

/* medium screen 768 */
@media screen and (min-width: 768px) {
  /* subscription block */
  .subBlock {
    display: flex;
  }
  /* border of email textbox */
  #newsletter1 {
    width: 220px;
  }
  /* subscription button */
  .btnSub {
    margin-top: 0px;
  }
  /* tree map chart */
  .treeMap{
    height: 400px;
    width: auto;
  }
}

/* large screen 992 */
@media screen and (min-width: 992px) {
  /* tree map chart */
  .treeMap{
    height: 600px;
    width: auto;
  }
}

/* large screen 992 */
@media screen and (min-width: 1200px) {
  /* tree map chart */
  .treeMap{
    height: 730px;
    width: auto;
  }
}

/* -------------------navbar--------------------- */
/* size and postion of logo */
#logo {
  width: 120px;
  margin-left: 15px;
}

.nav-link {
  color: #f1f5f6 !important;
  font-family: playfair;
  font-size: larger;
}

/* nav-link hover effect */
a:hover {
  color: #e35640 !important;
}

/* target nav-link alignment */
.navbar-nav .nav-item {
  padding-left: 30px;
  padding-right: 30px;
}

/* -------------------home page------------------ */
/* home background image */
#home-background{
    background-image: url('images/home-background.jpeg');
    background-size: cover;
    height: 100vh ;
    width: auto;
}

.search-overlay{
    background-color: #313946;
    height: 100vh;
    opacity: 90%;
}

/* align search bar center */
.searchContainer{
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding-top: 600px;
}

/* ------------------footer---------------------- */
/* alignment of social link */
.fa-brands {
  padding-left: 30px;
  padding-right: 30px;
}

/* social link color */
.footer-social-link {
  color: #f1f5f6;
}

.foot {
  padding-left: 0px;
}

/* footer link */
.footLink {
  text-decoration: none;
  color: #929292;
}

.footText {
  color: #929292;
}

/* subscribe button */
.btn-primary {
  color: #f1f5f6;
  background-color: #e35640;
  border-color: #e35640;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #f1f5f6;
  background-color: #313946;
  border-color: #313946;
}

/* ---------------stock-analysis page------------------ */
.sidebar {
  height: 100vh;
  background-color: #929292;
}

.min-h {
  min-height: 100vh;
}

/* buttons for different charts  */
.stock-list {
  display: flex;
  flex-direction: column;
}

/* change sidebar color text */
#stockName, #stockDesc, #stockTicker {
color: #f1f5f6 !important;
}

/* hide all charts */
.hidden {
  display: none;
}

.arrow_box {
  padding: 10px;
  color: black;
}

.arrow_box h5 {
  font-weight: bold;
}

.selected-btn {
  background-color: black;
  color: #f1f5f6;
}