/* ---------------------media query-------------- */
/* extra small screen <576 */
@media screen and (max-width: 576px) {
  .nav-link {
    text-align: center;
  }
  /* border of email textbox */
  #newsletter1 {
    width: 120px;
  }
  /* subscription button */
  .btnSub {
    margin-top: 10px;
  }
  /* social link */
  .socialLink{
    margin-left: 180px;
    margin-right: 300px;
    margin-bottom: 16px;
  }
  /* copyright text alignment */
  .copyrightText{
      margin-left: 180px;
      text-align: center;
  }
}

/* small screen 576 */
@media screen and (min-width: 576px) {
  .nav-link {
    text-align: center;
  }
  /* border of email textbox */
  #newsletter1 {
    width: 150px;
  }
  /* subscription button */
  .btnSub {
    margin-top: 10px;
  }
}

/* medium screen 768 */
@media screen and (min-width: 768px) {
  /* subscription block */
  .subBlock {
    display: flex;
  }
  /* border of email textbox */
  #newsletter1 {
    width: 220px;
  }
  /* subscription button */
  .btnSub {
    margin-top: 0px;
  }
}

/* large screen 992 */
@media screen and (min-width: 992px) {
}
/* -------------------navbar--------------------- */
/* size and postion of logo */
#logo {
  width: 120px;
  margin-left: 15px;
}

.nav-link {
  color: #f1f5f6 !important;
  font-family: playfair;
  font-size: larger;
}

/* nav-link hover effect */
a:hover {
  color: #e35640 !important;
}

/* target nav-link alignment */
.navbar-nav .nav-item {
  padding-left: 30px;
  padding-right: 30px;
}
/* ------------------footer---------------------- */
/* alignment of social link */
.fa-brands {
  padding-left: 30px;
  padding-right: 30px;
}

/* social link color */
.footer-social-link {
  color: #f1f5f6;
}

.foot {
  padding-left: 0px;
}

/* footer link */
.footLink {
  text-decoration: none;
  color: #929292;
}

.footText {
  color: #929292;
}

/* subscribe button */
.btn-primary {
  color: #f1f5f6;
  background-color: #e35640;
  border-color: #e35640;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #f1f5f6;
  background-color: #313946;
  border-color: #313946;
}
