/* setting the body of content */
#page-container{
    position:relative;
    min-height: 100vh;
}

/* position of navbar */
.navbar{
    position: absolute;
    top: 0px;
}

/* position of footer */
.webFooter{
    position: absolute;
    bottom: 0px;
}

/* font pairing from google fonts */
@font-face {
  font-family: playfair;
  src: url(fonts/PlayfairDisplay-Regular.ttf);
  font-family: sourceSans;
  src: url(fonts/SourceSansPro-Regular.ttf);
}

/* overwrite bootstrap color */
.bg-dark {
  background: linear-gradient(
    to right,
    #000000,
    #161616cc,
    #1e1e1e6b,
    #26262630
  );
}

/* changing body font */
body {
  font-family: sourceSans;
  color: #14afd6 !important;
}

/* h5 font */
.h5, h5 {
  font-family: playfair;
}
