/* setting the body of content */
#page-container {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

/* position of navbar */
.navbar {
  position: absolute;
  top: 0px;
}

/* position of footer */
.webFooter {
  position: relative;
  margin-top: -90px;
  clear: both;
}

/* font pairing from google fonts */
@font-face {
  font-family: playfair;
  src: url(fonts/PlayfairDisplay-Regular.ttf);
  font-family: sourceSans;
  src: url(fonts/SourceSansPro-Regular.ttf);
}

/* overwrite bootstrap color */
.bg-dark {
  background: linear-gradient(
    to right,
    #000000,
    #161616cc,
    #1e1e1e6b,
    #26262630
  );
}

/* changing body font */
body {
  font-family: sourceSans;
  color: #313946 !important;
}

/* h1 font */
.h1,
h1 {
  font-family: playfair;
  color: #f1f5f6;
}

/* h5 font */
.h5,
h5 {
  font-family: playfair;
  color: #f1f5f6;
}

/* overwrite radio button */
input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #e35460;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
